:root {
  --font-base: 'Josefin Sans', sans-serif;
  --font-title: Arial, Helvetica, sans-serif;
  --color-bg-dark: rgb(38, 38, 38);
  --color-bg-light: rgb(224, 224, 224);
  --color-pg-dark: rgba(73, 73, 73, 0.6);
  --color-dark: rgb(73, 73, 73);
  --color-pg-light: rgba(255, 255, 255, 0.6);
  --color-light: rgb(224, 224, 224);
  --color-lightgrey: rgb(182, 180, 190);
  --color-bg-accent-dark: #2d2d2d;
  --color-bg-accent-light: #cacaca;
  --color-accent: #f64435;
  --color-yellow: rgb(250, 165, 85);
  --color-black: #000;
  --color-white: #fff;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg-dark) url('../assets/images/background_dark.png')
    no-repeat 0% 0% / 100vw 30vh;
  font-family: var(--font-base);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
  padding-top: 4rem;
  font-size: 1.5rem;
}

body.dark {
  background: var(--color-bg-light) url('../assets/images/background_light.png')
    no-repeat 0% 0% / 100vw 30vh;
}

.app {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background: var(--bg-main-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  font-family: var(--font-title);
  margin: 20px;
  letter-spacing: 0.1em;
  color: var(--color-pg-light);
  font-size: 1.2em;
  width: 70%;
  margin: auto;
  flex: 40%;
  margin-bottom: 1em;
}

.themeButton {
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  right: 15%;
  top: 10%;
  cursor: pointer;
}

.document {
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.days__container {
  width: 100%;
  flex-basis: 15%;
  background-color: var(--color-bg-light);
}

.days {
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
  padding: 0.3em;
  background: var(--color-white);
}

.day {
  text-align: center;
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.1em;
}

.day__text {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  color: var(--color-light);
}

.day__circle {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-light);
}

.day.today .day__text {
  color: var(--color-black);
}

.day.today .day__circle {
  background-color: var(--color-yellow);
}

.day.active {
  background-color: var(--color-dark);
}

.day.active .day__text {
  color: var(--color-white);
}

.contents__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-bg-light);
}

.contents {
  flex: 1;
}

.table {
  flex: 1;
  background-color: white;
}

.add__container {
  flex-basis: 10%;
}

.footer {
  text-align: center;
}

.footer p {
  color: var(--color-lightgrey);
  font-weight: 700;
}
