:root {
  --font-base: 'Josefin Sans', sans-serif;
  --font-title: Arial, Helvetica, sans-serif;
  --color-bg-dark: rgb(38, 38, 38);
  --color-bg-light: rgb(224, 224, 224);
  --color-pg-dark: rgba(73, 73, 73, 0.6);
  --color-dark: rgb(73, 73, 73);
  --color-pg-light: rgba(255, 255, 255, 0.6);
  --color-light: rgb(224, 224, 224);
  --color-lightgrey: rgb(182, 180, 190);
  --color-grey: rgb(97, 97, 97);
  --color-bg-accent-dark: #2d2d2d;
  --color-bg-accent-light: #cacaca;
  --color-accent: #f64435;
  --color-yellow: rgb(250, 165, 85);
  --color-black: #000;
  --color-white: #fff;
  --color-darkgreen: rgb(0, 77, 0);
  --color-lightgreen: rgba(131, 255, 131, 0.4);
  --color-green: rgb(13, 177, 21);
}

* {
  outline: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  background: var(--color-bg-dark) url('../assets/images/background_dark.png')
    no-repeat 0% 0% / 100vw 30vh;
  font-family: var(--font-base);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
  padding-top: 4rem;
  font-size: 1.5rem;
}

body.dark {
  background: var(--color-bg-light) url('../assets/images/background_light.png')
    no-repeat 0% 0% / 100vw 30vh;
}

.app {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.header {
  width: 100%;
  background: var(--bg-main-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__title {
  font-family: var(--font-title);
  margin: 20px;
  letter-spacing: 0.1em;
  color: var(--color-pg-light);
  font-size: 1.2em;
  width: 70%;
  margin: auto;
  flex: 40%;
  margin-bottom: 1em;
}

.themeButton {
  border: 0;
  outline: 0;
  background: transparent;
  position: absolute;
  right: 15%;
  top: 10%;
  cursor: pointer;
}

.document {
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

/* days menu */
.days__container {
  width: 100%;
  flex-basis: 15%;
  background-color: var(--color-bg-light);
}

.days {
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: space-between;
  padding: 0.3em;
  background: var(--color-white);
}

.day {
  text-align: center;
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.1em;
}

.day * {
  pointer-events: none;
}

.day__text {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  color: var(--color-light);
}

.day__circle {
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-light);
}

.day.today .day__text {
  color: var(--color-black);
}

.day.today .day__circle {
  background-color: var(--color-yellow);
}

.day.active {
  background-color: var(--color-dark);
}

.day.active .day__text {
  color: var(--color-white);
}

/* contents */
.contents__container {
  flex: 1;
  background-color: var(--color-bg-light);
  display: flex;
}

.contents {
  flex: 1;
  position: relative;
  display: flex;
}

.content {
  flex: 1;
  position: absolute;
  z-index: -1;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content.active {
  z-index: 0;
  visibility: visible;
}

.content__header {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

/* view_option */
.view_option {
  display: flex;
  position: relative;
}

.overlay {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--color-lightgreen);
  border: 1px solid var(--color-darkgreen);
  border-radius: 5px;
  transition: transform 0.1s;
}

.overlay.right {
  transform: translateX(100%);
}

.viewBtn {
  flex: 1;
  background: transparent;
  padding: 0;
  border: none;
}

.viewBtn * {
  pointer-events: none;
}

.textIcon {
  display: block;
  width: 55px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid var(--color-lightgrey);
  background: var(--color-white);
  font-size: 13px;
  color: var(--color-lightgrey);
}

.viewBtn.active .textIcon {
  color: var(--color-black);
  font-weight: bold;
}

.dailyBtn .textIcon {
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
}

.weeklyBtn .textIcon {
  border-left: 0;
  border-radius: 0px 5px 5px 0px;
}

/* filter_option */
.filter_container {
  position: relative;
}

.filter_option {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 0;
}

.filter_option.active {
  z-index: 10;
}

.filter_option.active * {
  color: white;
}

.filterText {
  font-weight: bold;
  letter-spacing: 1.05px;
}

.filterText,
.filterIcon {
  color: var(--color-grey);
  font-size: 13px;
}

.filterIcon {
  font-size: 12px;
}

.filterMenu {
  z-index: 10;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 90px;
  margin: 0;
  padding: 0.6rem;
  background: var(--color-white);
  color: var(--color-black);
  right: 0;
  bottom: -100px;
}

.filterMenu li {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.6em;
  cursor: pointer;
}

.filterMenu li span {
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.filterMenu li span:hover {
  border-bottom: 2px solid var(--color-lightgrey);
}

/* items */
.items {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: red;
}

.content__footer {
  flex-basis: 10%;
  text-align: left;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
}

.add {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.55);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
}

.addBtn {
  background-color: var(--color-green);
  position: relative;
  z-index: 0;
}

.addBtn.active {
  z-index: 10;
}

.addIcon {
  font-size: 18px;
  border-radius: 50%;
  color: var(--color-darkgreen);
  transition: transform 0.2s;
}

.addIcon.rotate {
  transform: rotateZ(45deg);
}

.addMenu {
  position: relative;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 0.5em;
  display: flex;
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.addMenu li {
  cursor: pointer;
}

.addMenu li:first-child {
  margin-right: 1.5rem;
}

.addMenu li * {
  pointer-events: none;
}

.addText {
  font-size: 16px;
}

.addMenu i {
  color: var(--color-black);
}

.addMenu .fa-check {
  font-size: 18px;
}
/* footer */
.footer {
  text-align: center;
}

.footer p {
  color: var(--color-lightgrey);
  font-weight: 700;
}

/* modal */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0);
  opacity: 0.3;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
